In [168]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import StratifiedKFold,KFold,cross_val_score,ShuffleSplit,GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split
import numpy as np

In [169]:
data=pd.read_csv("corona_data.csv")
data.head()

,Age,Fever,BodyPains,RunnyNose,Difficulty_in_Breath,infection_Probability
0,60,100,1,1,1,0
1,75,102,1,0,0,1
2,25,98,0,0,0,1
3,34,97,0,0,0,0
4,4,96,0,1,0,1

In [170]:
data.shape

(7104, 6)

In [171]:
data.describe()

,Age,Fever,BodyPains,RunnyNose,Difficulty_in_Breath,infection_Probability
count,7104.000000,7104.000000,7104.000000,7104.000000,7104.000000,7104.000000
mean,50.533080,102.004786,0.496903,0.505208,0.494792,0.493525
std,28.969553,3.774807,0.500026,0.500008,0.500008,0.499993
min,1.000000,96.000000,0.000000,0.000000,0.000000,0.000000
25%,26.000000,99.000000,0.000000,0.000000,0.000000,0.000000
50%,51.000000,102.000000,0.000000,1.000000,0.000000,0.000000
75%,76.000000,105.000000,1.000000,1.000000,1.000000,1.000000
max,100.000000,108.000000,1.000000,1.000000,1.000000,1.000000

In [172]:
cond_1 =(data['Fever']>100) & (data['BodyPains']==1) & (data['RunnyNose']==1) & (data['Difficulty_in_Breath']==1)

In [173]:
data['infection_Probability'][cond_1] = 1
data[cond_1]

,Age,Fever,BodyPains,RunnyNose,Difficulty_in_Breath,infection_Probability
6,44,103,1,1,1,1
7,57,103,1,1,1,1
47,90,105,1,1,1,1
48,4,105,1,1,1,1
67,72,103,1,1,1,1
...,...,...,...,...,...,...
7019,58,104,1,1,1,1
7030,13,107,1,1,1,1
7070,38,102,1,1,1,1
7098,83,103,1,1,1,1
7099,60,108,1,1,1,1

In [174]:
cond_2 = (data['Age']>=60) & (data['Fever']>99) & (data['RunnyNose']==1) &  (data['Difficulty_in_Breath']==1) | (data['BodyPains']==1)

In [175]:
data['infection_Probability'][cond_2] = 1
data[cond_2]

,Age,Fever,BodyPains,RunnyNose,Difficulty_in_Breath,infection_Probability
0,60,100,1,1,1,1
1,75,102,1,0,0,1
6,44,103,1,1,1,1
7,57,103,1,1,1,1
8,88,99,1,1,1,1
...,...,...,...,...,...,...
7093,61,98,1,0,0,1
7096,76,98,1,1,0,1
7097,57,96,1,0,0,1
7098,83,103,1,1,1,1
7099,60,108,1,1,1,1

In [176]:
cond_3 =(data['Fever']>99) & (data['BodyPains']==0) & (data['RunnyNose']==0) & (data['Difficulty_in_Breath']==0)

In [177]:
data['infection_Probability'][cond_3] = 0
data[cond_3]

,Age,Fever,BodyPains,RunnyNose,Difficulty_in_Breath,infection_Probability
16,36,107,0,0,0,0
18,17,104,0,0,0,0
21,70,108,0,0,0,0
27,7,108,0,0,0,0
38,70,101,0,0,0,0
...,...,...,...,...,...,...
7082,97,107,0,0,0,0
7090,42,103,0,0,0,0
7095,59,101,0,0,0,0
7100,22,104,0,0,0,0
7101,7,102,0,0,0,0

In [178]:
X=data.drop(columns="infection_Probability").values
Y=data['infection_Probability'].values

In [179]:
cv = StratifiedKFold(n_splits=5,random_state=11)

In [180]:
kf = KFold(n_splits=5,random_state=100)

In [181]:
for train_index, test_index in cv.split(X,Y):
    
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = Y[train_index], Y[test_index]

In [182]:
X_train.shape

(5684, 5)

In [183]:
Y_test.shape

(2345,)

In [184]:

X_test.shape

(1420, 5)

In [185]:
Y_train.shape

(2345, 5)

In [186]:
tr = DecisionTreeClassifier(class_weight='balanced')
tr.fit(X_train,y_train)
tr_pred = tr.predict(X_test)
tr_acc = accuracy_score(y_test,tr_pred)
tr_acc

0.8309859154929577

In [187]:
dt_clf  = DecisionTreeClassifier(criterion='gini',max_depth=6,class_weight='balanced')
dt_clf.fit(X_train,y_train)
y_pred = dt_clf.predict(X_test)
y_pred[2]
# accuracy_score(y_test,y_pred)

0

In [188]:
import pickle
with open('coronaPredict.pkl','wb') as f:
    pickle.dump(dt_clf,f)

In [189]:
pickle_in = open("coronaPredict.pkl","rb")
model = pickle.load(pickle_in)